/* 
Palette

Red: #ff0000
Orange: #fbb034
Yellow: #ffdd00
Green: #c1d82f
Blue: #00a4e4
Brown: #8a7967
Gray: #6a737b
Dark Gray: #4a535b 
Gold: #ffb300
Off-White: #eaf3fb
*/

/* 
Fonts 
 
font-family: 'DM Mono', monospace;
font-family: 'Montserrat', sans-serif; 
*/