html {
  /* Not supported on Safari */
  scroll-behavior: smooth;
}

body {
  background-color: #00a8e0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

p {
  font-size: 1.2em;
}

.container {
  padding-left: 40px;
  padding-right: 40px;
}

@media (min-width: 991.98px) {

  /* Medium devices (tablets, less than 992px) */
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navbar {
  background-color: #ffb310;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

@media (min-width: 991.98px) {

  /* Medium devices (tablets, less than 992px) */
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #e0f0fd;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

.header {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("img/brick.jpeg");
  background-position: center;
  background-size: cover;
  height: 90vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.header_title {
  margin: 0 15%;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
  font-family: 'DM Mono', monospace;
  text-align: center;
}

.cta {
  margin-top: 50px;
}

.btn-cta {
  background-color: #00a8e0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  outline: none;
  border: 2px solid #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-cta:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.btn-cta:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
}

.section_title {
  font-family: 'DM Mono', monospace;
  margin-bottom: 50px;
}

.section_title--sub {
  font-family: 'DM Mono', monospace;
  font-weight: 600;
}

section {
  padding: 60px 0;
}

.section-light {
  background-color: #eaf3fb;
  color: #333;
}

.text-link--dark {
  color: #ffc76c;
  text-decoration: none;
}

.text-link--dark:hover {
  color: #ffc76c;
  text-decoration: underline;
}

.section_img {
  width: 100%;
}

.image_caption {
  font-size: 80%;
  text-align: center
}

.reference {
  font-size: 80%;
  color: #555;
}

footer {
  background-color: #ffb310;
  color: #e0f0fd;
  width: 100%;
  text-align: center;
  padding: 30px 20px;
}

.footer-content {
  font-size: 14px;
  margin-bottom: 0;
}

.footer-subject {
  font-style: italic;
}

.footer-link {
  color: #e0f0fd;
  text-decoration: underline;
}

.footer-link:hover {
  color: #fff;
  text-decoration: underline;
}


/* FLIP CARDS */
/* Adapted from the example at W3Schools */
/* https://www.w3schools.com/howto/howto_css_flip_card.asp */

.flip-card {
  background-color: transparent;
  height: 400px;
  perspective: 1000px;
  margin-top: 40px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  padding: 20px;
  border-radius: 5px;
}

.flip-card-front {
  background-color: #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flip-card-back {
  background-color: #ffb310;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flip-card-front--myers-briggs {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("img/myers-briggs.jpeg");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.flip-card-front--learning-style {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("img/learning-style.jpeg");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.flip-card-front--big-five {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("img/big-five.jpeg");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.card-link {
  color: #00497a;
}

.card-link:hover {
  color: #00568f;
  text-decoration: underline;
}

/* UTILITIES */
.u-row-reverse {
  flex-direction: row-reverse;
}

.u-margin-bottom-50 {
  margin-bottom: 50px;
}

.u-margin-bottom-30 {
  margin-bottom: 30px;
}